# Default ignored files
/shelf/
/workspace.xml

# Compiled class file
/out/

# project specific settings
/.idea/

# iml file
*.iml

# exclude directories
/src/Files/Detailed_Results
/src/Files/Summarized_Results

# exclude files
*.pdf
*.jpg
*.zip